(
    axes: {
        "run": Emulated(
            pos: Key(Right),
            neg: Key(Left),
        ),
        "jump": Emulated(
            pos: Key(Up),
            neg: Key(Q),
        ),
        "move_z": Emulated(
            pos: Key(S),
            neg: Key(W),
        ),
    },
    actions: {

    },
)
