(
    axes: {
        "run": Multiple([
            Emulated(pos: Key(Right), neg: Key(Left)),
            Controller(
                controller_id: 0,
                axis: LeftX,
                invert: false,
                dead_zone: 0.0,
            ),
        ]),
    },
    actions: {
        "jump": [
            [Key(Space)],
            [Controller(0, A)],
        ],
    },
)
