List((
    texture_width: 256,
    texture_height: 64,
    sprites: [
        (
            x: 0,
            y: 0,
            width: 64,
            height: 64,
        ),
        (
            x: 64,
            y: 0,
            width: 128,
            height: 64,
        ),
        (
            x: 193,
            y: 0,
            width: 43,
            height: 64,
        ),
    ]
))
